@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap");

body {
  font-family: "Cairo", sans-serif !important;
}

.chart-container {
  font-family: "Cairo", sans-serif !important;
}

/* Scrollbar Styling */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 50px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-bg);
}

/* Layout Side Section */
.layout-side-section {
  padding-top: 15px;
  color: #fff !important;
  background-color: #3adb98;
}
@media screen and (min-width: 767px) {
  .layout-side-section {
    background-color: #3adb98;
  }
}
.layout-side-section .icon-btn {
  background-color: transparent !important;
  border: 1px solid white;
}
.layout-side-section .icon,
.layout-side-section .sidebar-label .icon {
  stroke: #fff !important;
  fill: transparent;
  stroke-width: 2;
}
.layout-side-section .sidebar-label,
.layout-side-section .checkbox .label-area,
.layout-side-section p,
.layout-side-section .text-muted,
.layout-side-section a.add-group-by:hover,
.layout-side-section a.list-tag-preview:hover {
  color: #fff !important;
}
.layout-side-section .sidebar-item-control .btn {
  background: transparent;
  border: 1px solid white;
}

/* Navbar */
header.navbar.navbar-expand.sticky-top {
  background-color: #3adb98;
}

.navbar,
.navbar-expand {
    background: #3adb98 !important;
    height: var(--navbar-height);
}
.navbar-nav .icon {
  stroke: #fff !important;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
#navbar-breadcrumbs li.disabled a {
  color: #fff;
}
#navbar-breadcrumbs a {
  color: white;
}
#navbar-breadcrumbs a::before {
  content: " ";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-right: 10px;
}

/* Widgets */
.widget {
  border-radius: 20px;
}
.widget .widget-head .widget-label .widget-title,
.widget .widget-head .widget-label .widget-title svg {
  color: white;
  stroke: #fff !important;
}
.widget.edit-mode .widget-head .widget-label .widget-title {
  color: #1F272E;
}
.widget.links-widget-box {
  background: #3adb98;
  border-radius: 30px;
  padding: 15px;
}
.widget.links-widget-box .link-item {
  color: #ffffff;
}
.widget.links-widget-box .link-item:hover .indicator-pill {
  background: #178394;
  color: white;
}
.widget.shortcut-widget-box {
  background: #3adb98;
  border-radius: 30px;
  padding: 15px;
}
.widget.shortcut-widget-box:hover {
  background: #178394;
}
.widget.shortcut-widget-box .widget-head .widget-title,
.widget.shortcut-widget-box:hover .widget-title {
  color: #fff !important;
}
.dashboard .widget {
  background: linear-gradient(180deg, #3adb98 0%, #3adb98 100%);
  box-shadow: var(--shadow-lg);
  border-radius: var(--border-radius-md);
}

/* Page Container */
.page-container {
  background-color: #b4f5ff;
}
.page-container .page-head {
  background-color: #b4f5ff;
}

/* Standard Sidebar */
.standard-sidebar .standard-sidebar-item {
  background-color: #4ec3d5;
}
.standard-sidebar .standard-sidebar-item:hover {
  background-color: #3adb98;
}
.standard-sidebar .standard-sidebar-item.selected {
  background-color: #178394;
}
.standard-sidebar-label {
  color: white;
}

/* List Sidebar */
.list-sidebar .sidebar-section {
  padding: 10px;
}
.desk-sidebar-item.standard-sidebar-item:hover {
  background-color: #3adb98;
}
.desk-sidebar-item.standard-sidebar-item a:hover {
  color: white;
}
.desk-sidebar-item.selected {
  background-color: #178394;
  border: 1px solid white;
}
.desk-sidebar-item.selected a {
  color: white;
}

/* Modal Backdrop */
.modal-backdrop {
  background-color: #a3e4d7 !important;
}

/* Button Styling */
.btn-primary {
  color: #fff !important;
  background-color: #3adb98 !important;
  border-radius: 0 !important;
}
.btn-primary:hover {
  background-color: rgba(255, 120, 10, 0.93) !important;
}
.btn-primary:active, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary:focus {
  box-shadow: none !important;
}

/* Form Controls */
input {
  border-radius: 0 !important;
}
.form-control {
  background-color: #f2f2f2 !important;
  border: 1px solid #e3e8f1;
}
.form-control:focus {
  border: 1px solid #3adb98;
  background: rgba(255, 160, 10, 0.14) !important;
}

/* Tables */
.form-grid {
  border: 1px solid #bbbbbb;
}
.form-grid .grid-heading-row {
  background-color: #f4f4f4;
  border-bottom: 1px solid #3adb98;
}
.form-grid .grid-row:hover {
  background: rgba(255, 152, 0, 0.15);
}

/* Dropdown List Hover Effect */
.awesomplete > ul > li:hover,
.awesomplete > ul > li[aria-selected="true"] {
    background-color: #a3e4d7;
}

/* Colors and Theme Variables */
:root {
    --primary-color: #3adb98;
    --secondary-color: #178394;
    --background-color: #a3e4d7;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #888;
    --page-head-height: 50px;
    --navbar-height: 50px;
    --scroll-bg: #a3e4d7;
    --scroll-color: #3adb98;
}
